@using System.Reflection
@using Microsoft.AspNetCore.Components.Forms
@using Microsoft.AspNetCore.Hosting
@inject IWebHostEnvironment env

<div class="bordered-container">
    <div class="container">
        @if (Model != null)
        {
            <ImageUpload @ref="imageUpload" PhotoUrl="@photoUrl" OnFileSelected="HandleFileSelected" />

            <div class="form-group">
                @foreach (var property in properties)
                {
                    if (property.Name.Equals("AccountID", StringComparison.OrdinalIgnoreCase))
                    {
                        continue;
                    }

                    <div class="input-container">
                        <label for="@property.Name">@property.Name</label>

                        @switch (Type.GetTypeCode(property.PropertyType))
                        {
                            case TypeCode.Int32:
                                <input type="number" id="@property.Name" placeholder="Enter @property.Name..." class="input-field"
                                       value="@GetPropertyValue(property)?.ToString()"
                                       @onchange="(e => SetPropertyValue(property, int.Parse(e.Value.ToString())))" />
                                break;

                            case TypeCode.DateTime:
                                var dateValue = GetPropertyValue(property) as DateTime?;
                                var formattedDate = dateValue.HasValue && dateValue.Value > DateTime.MinValue
                                ? dateValue.Value.ToString("yyyy-MM-dd")
                                : DateTime.Now.ToString("yyyy-MM-dd");
                                var minDate = new DateTime(1900, 1, 1).ToString("yyyy-MM-dd");
                                var maxDate = new DateTime(9999, 12, 31).ToString("yyyy-MM-dd");
                                <input type="date" id="@property.Name" placeholder="Enter @property.Name..." class="input-field"
                                       value="@formattedDate" min="@minDate" max="@maxDate"
                                       @onchange="(e => SetPropertyValue(property, DateTime.Parse(e.Value.ToString())))" />
                                break;

                            case TypeCode.String:
                                <input type="text" id="@property.Name" placeholder="Enter @property.Name..." class="input-field"
                                       value="@GetPropertyValue(property)"
                                       @onchange="(e => SetPropertyValue(property, e.Value.ToString()))" />
                                break;

                            default:
                                if (property.PropertyType.IsEnum || (property.PropertyType.IsGenericType &&
                                property.PropertyType.GetGenericTypeDefinition() == typeof(Nullable<>) &&
                                property.PropertyType.GetGenericArguments()[0].IsEnum))
                                {
                                    var enumType = property.PropertyType.IsGenericType ? property.PropertyType.GetGenericArguments()[0] : property.PropertyType;
                                    var value = GetPropertyValue(property)?.ToString() ?? "Other"; // Default to "Other"

                                    <select id="@property.Name" class="input-field" @onchange="(e => SetPropertyValue(property, e.Value.ToString()))">
                                        <option value="" disabled>Select @property.Name...</option>
                                        @foreach (var enumValue in Enum.GetValues(enumType))
                                        {
                                            <option value="@enumValue.ToString()" selected="@(enumValue.ToString() == value)">@enumValue.ToString()</option>
                                        }
                                    </select>
                                }
                                break;
                        }
                    </div>
                }

                <button class="btn btn-primary custom-button" @onclick="HandleSubmit">@ButtonText</button>
            </div>

            @if (!string.IsNullOrEmpty(NotificationMessage))
            {
                <ToastComponent Message="@NotificationMessage" IsSuccess="@NotificationSuccess" />
            }
        }
        else
        {
            <p>Model is null.</p>
        }
    </div>
</div>

@code {
    [Parameter]
    public object? Model { get; set; }

    [Parameter]
    public string ButtonText { get; set; } = "Submit";

    [Parameter]
    public EventCallback OnSubmit { get; set; }

    [Parameter]
    public string NotificationMessage { get; set; } = string.Empty;

    [Parameter]
    public bool NotificationSuccess { get; set; } = true;

    private List<PropertyInfo> properties = new List<PropertyInfo>();
    private string photoUrl = string.Empty;
    private ImageUpload? imageUpload; // Reference to ImageUpload component

    protected override void OnParametersSet()
    {
        if (Model != null)
        {
            properties = Model.GetType().GetProperties().Where(p => p.CanWrite).ToList();
        }
    }

    private object? GetPropertyValue(PropertyInfo property)
    {
        return property.GetValue(Model);
    }

    private void SetPropertyValue(PropertyInfo property, object value)
    {
        if (property.PropertyType.IsEnum ||
            (property.PropertyType.IsGenericType &&
             property.PropertyType.GetGenericTypeDefinition() == typeof(Nullable<>) &&
             property.PropertyType.GetGenericArguments()[0].IsEnum))
        {
            var enumType = property.PropertyType.IsGenericType ? property.PropertyType.GetGenericArguments()[0] : property.PropertyType;
            object? enumValue = value != null ? Enum.Parse(enumType, value.ToString()) : null;

            property.SetValue(Model, enumValue);
        }
        else
        {
            property.SetValue(Model, Convert.ChangeType(value, property.PropertyType));
        }
    }

    private async Task HandleSubmit()
    {
        // Save the photo to the file system and get the photo URL
        var savedPhotoUrl = await imageUpload?.SaveFileAsync();
        if (savedPhotoUrl != null)
        {
            // Update the OfficialAvatar field in the Model with the photo URL
            var officialAvatarProperty = properties.FirstOrDefault(p => p.Name.Equals("OfficialAvatar", StringComparison.OrdinalIgnoreCase));
            if (officialAvatarProperty != null)
            {
                SetPropertyValue(officialAvatarProperty, savedPhotoUrl);
            }
        }

        // Perform form submission and get the response status code
        var responseStatusCode = await SubmitFormAsync();

        if (responseStatusCode == 204 || responseStatusCode == 200)
        {
            NotificationMessage = "Form submitted successfully!";
            NotificationSuccess = true;
        }
        else
        {
            NotificationMessage = "Form submission failed.";
            NotificationSuccess = false;
        }

        await OnSubmit.InvokeAsync();
        StateHasChanged();
    }

    private async Task<int> SubmitFormAsync()
    {
        await Task.Delay(1000);
        return 200;
    }

    private async Task HandleFileSelected(string fileUrl)
    {
        photoUrl = fileUrl;
        var imagePathProperty = properties.FirstOrDefault(p => p.Name.Equals("ImagePath", StringComparison.OrdinalIgnoreCase));
        if (imagePathProperty != null)
        {
            SetPropertyValue(imagePathProperty, fileUrl);
        }

        StateHasChanged();
    }
}
