@page "/admin/account-management"
@layout SIMS.Shared.Layouts.MainLayout
@using SIMS.Shared.Models
@using System.Text.Json;
@using SIMS.Data.Entities;
@inject SIMS.Shared.Services.HeaderTitleService HeaderTitleService

<PageTitle>Account</PageTitle>

<h3>Account</h3>

<div class="table-responsive">
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>#</th> 
                <th>Member Code</th>
                <th>Email</th>
                <th>Created At</th>
                <th>Updated At</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            @foreach (var (account, index) in accounts.Select((value, i) => (value, i)))
            {
                <tr>
                    <td>@(index + 1)</td> 
                    <td>@account.MemberCode</td>
                    <td>@account.Email</td>
                    <td>@account.CreatedAt</td>
                    <td>@account.UpdatedAt</td>
                </tr>
            }
        </tbody>
    </table>
</div>

@code {
    private string HeaderTitle = "Account";

    protected override void OnInitialized()
    {
        HeaderTitleService.Title = HeaderTitle;
    }

    string API_URL = "https://localhost:7006/";
    private IEnumerable<Accounts> accounts = Array.Empty<Accounts>();

    private async Task LoadAccounts()
    {
        HttpClient client = new HttpClient();
        HttpResponseMessage response = await client.GetAsync(API_URL + "api/SIMS/GetAccount");
        client.Dispose();
        using var responseStream = await response.Content.ReadAsStreamAsync();
        accounts = await JsonSerializer.DeserializeAsync<IEnumerable<Accounts>>(responseStream);
    }

    protected override async Task OnInitializedAsync()
    {
        await this.LoadAccounts();
    }
}
