@using SIMS.Shared.Layouts

<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <RouteView RouteData="@routeData" DefaultLayout="@GetLayout(routeData.PageType)" />
            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </Found>
        <NotFound>
            <PageTitle>Not found</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <p role="alert">Sorry, there's nothing at this address.</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>

@code {
    private Type GetLayout(Type page)
    {
        if (page == typeof(MainLayout))
        {
            return typeof(MainLayout);
        } 
        else
        {
            return typeof(SubLayout);
        }
    }
}
