@typeparam TItem
@using SIMS.Shared.Models

<div class="container row">
    <div class="filter col col-lg-6">
        <button class="filter-button" >
            <i class="bi bi-funnel filter-icon"></i>
            <span class="filter-label">Filter</span>
        </button>

        @foreach (var filter in Filters)
        {
            <div class="filter-item-wrapper">
                <button class="filter-item filter-button" @onclick="ShowFilterItem">
                    <span class="filter-label">@filter.Header</span>
                    <i class="@filterIcon show-icon"></i>
                </button>
                <div class="filter-select-wrapper @(showFilter ? "show" : "hide")">
                    <ul class="filter-select">
                        @foreach (var option in filter.Options)
                        {
                            <li class="filter-option">
                                <input type="checkbox" id="@($"checkbox-{filter.Header}-{option}")" class="filter-checkbox" value="@option" @onchange="() => OnOptionChanged(filter, option)" />
                                <label for="@($"checkbox-{filter.Header}-{option}")" class="filter-label">@option</label>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        }     
    </div>
    <div class="search col col-lg-6">
        <!-- Add your search functionality here -->
    </div>
</div>

@code {
    [Parameter]
    public List<Filters<TItem>> Filters { get; set; }

    private bool showFilter = false;

    private string filterIcon => showFilter ? "bi bi-caret-up-fill" : "bi bi-caret-down-fill";

    private void ShowFilterItem()
    {
        showFilter = !showFilter;
    }

    private void OnOptionChanged(Filters<TItem> filter, string option)
    {
        // Handle option change logic here
    }
}
