@typeparam TItem

<div class="container">
    <!-- Table UI -->
    <div class="table-responsive table-container">
        <table class="table table-bordered table-hover">
            <thead class="table-head">
                <tr>
                    <th class="table-header">NO.</th>
                    @foreach (var col in Columns)
                    {
                        <th class="table-header">@col.Header</th>
                    }
                    <th class="table-header">Actions</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                @foreach (var (item, index) in Data.Select((value, i) => (value, i)))
                {
                    <tr @onclick="@(async () => await OnRowClick.InvokeAsync(item))">
                        <td>@(index + 1)</td>
                        @foreach (var col in Columns)
                        {
                            <td>@col.Value(item)</td>
                        }
                        <td>
                            <div class="button-group">
                                <button class="update-button" @onclick="@(e => UpdateItem(item))">
                                    <i class="bi bi-pencil-square update-icon"></i>
                                </button>
                                <button class="delete-button" @onclick="@(async e => await DeleteItem(item))">
                                    <i class="bi bi-x-square delete-icon"></i>
                                </button>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@code {
    [Inject] private NavigationManager Navigation { get; set; }

    [Parameter]
    public IEnumerable<TItem> Data { get; set; }

    [Parameter]
    public List<TableColumn<TItem>> Columns { get; set; }

    [Parameter]
    public EventCallback<TItem> OnRowClick { get; set; }

    [Parameter]
    public EventCallback<TItem> OnDelete { get; set; }

    private void UpdateItem(TItem item)
    {
        var itemId = GetItemId(item);
        Navigation.NavigateTo($"/addedit/edit/{itemId}");
    }

    private async Task DeleteItem(TItem item)
    {
        await OnDelete.InvokeAsync(item);
    }
}
